@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: #000000;
  font-family: "Iceland", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
}

#root {
  min-height: 100vh;
  width: 100%;
}

/* Hide scrollbar */
* {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE/Edge */
}

*::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}